@charset "UTF-8";
:root {
  --main-color: #212121;
  --second-color: #757575;
  --button-text-color: #ffffff;
  --accent-color: #2196F3;
  --logo-main-color: rgba(33, 150, 243, 1);
  --logo-second-coolor: rgba(0, 0, 0, 1);
  --logo-last-color: rgba(255, 255, 255, 1);
  --logo-accent-color: #2196F3;
  --section-background-color: #2F303A;
  --address-contact-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--button-text-color);
  background-color: var(--logo-main-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188CE8;
}

.telegram {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px;
}

.hero-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-button .btn.current {
  color: var(--button-text-color);
  background-color: var(--accent-color);
}

.hero-button .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 6px 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button .btn:hover, .hero-button .btn:focus {
  color: var(--button-text-color);
  background-color: #188CE8;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-nav__name {
  color: var(--logo-second-coolor);
}

.main-nav__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
}

.main-nav__logo {
  text-decoration: none;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* швидкість ховера */
.main-nav__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__site .main-nav__link:hover, .main-nav__site .main-nav__link:focus {
  color: var(--accent-color);
}

.main-nav__site {
  margin: 0;
  margin-left: 93px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav__item {
  display: block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  opacity: 1;
  border-radius: 2px;
}

.main-nav__site {
  margin: 0;
  margin-left: 93px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav__item {
  display: block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  opacity: 1;
  border-radius: 2px;
}

.thumbs {
  margin-right: 10px;
}

.main-border:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__site .main-nav__link {
  color: var(--main-color);
}

.main-nav__site .main-nav__link.current {
  color: var(--accent-color);
}

.main-nav__site .main-nav__link.current::after {
  background-color: var(--accent-color);
}

.main-nav__site .main-nav__link {
  text-decoration: none;
}

.site-auth {
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-auth__item .main-mail {
  text-decoration: none;
}

.site-auth .main-tel {
  display: block;
}

.site-auth__item .main-tel {
  text-decoration: none;
  margin-left: 30px;
}

.site-auth .main-tel:hover, .site-auth .main-tel:focus {
  color: var(--accent-color);
}

.site-auth .main-mail:hover, .site-auth .main-mail:focus {
  color: var(--accent-color);
}

.site-auth__item .main-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-mail__link-icon {
  fill: currentColor;
  margin-right: 10px;
}

.site-auth__item .main-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-tel__link-icon {
  fill: currentColor;
  margin-right: 10px;
}

.section__title {
  width: 696px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #FFFFFF;
  letter-spacing: 0.06em;
}

.section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--section-background-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Img(1).png");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img(1).png");
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  position: inherit;
  background-size: cover;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 1;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  background-color: #ffffff;
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.main-cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-cross:hover, .main-cross:focus {
  fill: var(--accent-color);
}

.modal-form {
  text-align: start;
}

.modal-subtitle {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 45px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-lable {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.input-wrapper input {
  margin-bottom: 0;
}

.input-wrapper:focus-within .modal-input {
  outline: none;
  border-color: var(--accent-color);
}

.input-wrapper:hover .modal-input {
  outline: none;
  border-color: var(--accent-color);
}

.input-icon {
  position: absolute;
  left: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .input-icon, .modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.comment {
  height: 120px;
  margin-bottom: 20px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:focus-within {
  outline: none;
  border-color: var(--accent-color);
}

.modal-textarea:hover {
  outline: none;
  border-color: var(--accent-color);
}

.check-line {
  margin-bottom: 30px;
}

/* погоджуюся з розсилкою */
.checkbox-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.checkbox-agree::before {
  content: "";
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14px;
  height: 13px;
  border: 2px solid #000000;
  border-radius: 2px;
}

.button-size {
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check-line input:checked + .checkbox-agree::before {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  background-image: url(../images/icons.svg/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*  */
.modal-conditions {
  color: var(--accent-color);
}

.strong {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits {
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__items {
  margin-right: 30px;
}

.benefits__items:last-child {
  margin-right: 0;
}

.benefits__antenna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: rgb(245, 244, 250);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.antenna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.benefits .benefits__quote {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits .benefits__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--second-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.desc {
  padding-bottom: 94px;
}

.desc-one {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* іконки розприділяються рівномірно по ширині сторінки */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work .work__foto {
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.work {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.work__desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.applications {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.team-caption {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.professionals {
  margin-top: 30px;
  margin-bottom: 16px;
}

.excerpt {
  margin: 0;
  margin-bottom: 10px;
}

.card {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card {
  margin-right: 30px;
}

.card:last-child {
  margin-right: 0;
}

.team-item .excerpt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.subject {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-color);
}

.card .thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.element {
  width: 44px;
  height: 44px;
}

.elements:hover {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.elements {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #AFB1B8;
}

.elements:hover .social-icon {
  fill: var(--button-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__company {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.companys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.companys__logo {
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
}

.companys__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  border: 1px solid #AFB1B8;
  color: rgb(175, 177, 184);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  fill: currentColor;
}

.companys__company:hover, .companys__company:focus {
  border-color: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-background-color);
}

.decoration {
  padding-left: 0;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
}

.footer .logo {
  text-decoration: none;
}

.footer .logo .title {
  color: var(--logo-last-color);
}

.address-list {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.address-list .map:hover, .address-list .map:focus {
  color: var(--accent-color);
}

.address-list .mail:hover, .address-list .mail:focus {
  color: var(--accent-color);
}

.address-list .tel:hover, .address-list .tel:focus {
  color: var(--accent-color);
}

.footer .map {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .map {
  text-decoration: none;
}

.mail {
  text-decoration: none;
}

.mail {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  color: var(--address-contact-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--address-contact-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
  text-decoration: none;
}

.slogan {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-text-color);
}

/* іконкі футера */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contacts-address {
  margin-right: 70px;
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.networks {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
}

.networks:last-child {
  margin-right: 0;
}

.instagram:hover {
  background-color: var(--accent-color);
}

.icons-link {
  fill: #FFFFFF;
}

.instagram {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email {
  width: 358px;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--section-background-color);
  border-radius: 4px;
  margin-right: 12px;
  font-style: normal;
  font-size: 20px;
  line-height: 1.71;
  color: #757575;
}

.email:focus {
  border: rgba(255, 255, 255, 0.3);
}

.telegram {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px;
}

.contacts-social {
  margin-left: auto;
}

.icon-telegram {
  fill: #ffffff;
  margin-left: 10px;
}

.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.filters {
  margin-right: 8px;
}

.filters:last-child {
  margin-right: 0;
}

.main-nav__site .main-nav__link {
  color: var(--main-color);
}

/* список карток */
.card-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-left: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}

.cards {
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards:nth-child(3n) {
  margin-right: 0;
}

.border {
  display: block;
}

.after-cards {
  padding: 20px 24px;
}

.after-cards {
  border-left: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
}

.cards .border:hover, .cards .border:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-card {
  text-decoration: none;
}

.heading {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.tagline {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* тект поверх картинки */
.cards:hover .primary-website {
  opacity: 1;
}

.primary-website {
  position: relative;
  overflow: hidden;
}

.main-website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-second .cards:hover .main-website {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.main-website .website {
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

/*  */
.footer .logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
}

.footer .logo .title {
  color: var(--logo-last-color);
}/*# sourceMappingURL=main.css.map */