.hero-button {
    display: flex;
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 0;
    justify-content: center;
}

.hero-button .btn.current {
    color: var(--button-text-color);
    background-color: var(--accent-color);
}

.hero-button .btn {
    display: inline-flex;
    margin: 0;
    padding: 6px 22px;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    color: var(--main-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button .btn {
    &:hover,
    &:focus {
        color: var(--button-text-color);
        background-color: #188CE8;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}