.client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client__company {
    margin: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.companys {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.companys__logo {
    flex-basis: calc((100% - 150px) / 6);
}

.companys__company {
    display: flex;
    height: 92px;
    border: 1px solid #AFB1B8;
    color: rgba(175, 177, 184, 1);
    justify-content: center;
    padding: 0;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company {
    display: flex;
    height: auto;
    fill: currentColor
}

.companys__company {
    &:hover, &:focus {
        border-color: 1px solid var(--accent-color);
        color: var(--accent-color);
    }
}