.header-nav {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.main-nav {
    display: flex;
    align-items: center;
}

/* швидкість ховера */
.main-nav__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__site .main-nav__link {
    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.main-nav__site {
    margin: 0;
    margin-left: 93px;
    padding-left: 0;
    display: flex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.main-nav__item {
    display: block;
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}

.main-nav__item:last-child {
    margin-right: 0;
}

.main-nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 2px;
}

.main-nav__site {
    margin: 0;
    margin-left: 93px;
    padding-left: 0;
    display: flex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.main-nav__item {
    display: block;
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}

.main-nav__item:last-child {
    margin-right: 0;
}

.main-nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 2px;
}

.thumbs {
    margin-right: 10px;
}

.main-border {
    &:hover {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.main-nav__site .main-nav__link {
    color: var(--main-color);
}

.main-nav__site .main-nav__link.current {
    color: var(--accent-color);
}

.main-nav__site .main-nav__link.current::after {
    background-color: var(--accent-color);
}

.main-nav__site .main-nav__link {
    text-decoration: none;
}