.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team-caption {
    margin-top: 0px;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-item {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.professionals {
    margin-top: 30px;
    margin-bottom: 16px;
}

.excerpt {
    margin: 0;
    margin-bottom: 10px;
}

.card {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card {
    margin-right: 30px;
}

.card:last-child {
    margin-right: 0;
}

.team-item .excerpt {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}

.subject {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    color: var(--second-color);
}