.card .thumb {
    display: flex;
    padding: 0;
    padding-bottom: 30px;
    justify-content: center;
    gap: 10px;
}

.element {
    width: 44px;
    height: 44px;
}

.elements {
    &:hover {
        background-color: var(--accent-color);
        fill: #ffffff;
    }
}

.elements {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #AFB1B8;
}

.elements {
    &:hover .social-icon {
        fill: var(--button-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}