:root {
    --main-color: #212121;
    --second-color: #757575;
    --button-text-color: #ffffff;
    --accent-color: #2196F3;
    --logo-main-color: rgba(33, 150, 243, 1);
    --logo-second-coolor: rgba(0, 0, 0, 1);
    --logo-last-color: rgba(255, 255, 255, 1);
    --logo-accent-color: #2196F3;
    --section-background-color: #2F303A;
    --address-contact-color: rgba(255, 255, 255, 0.6);
}